section.section.search-result-section.page-top__section
  h1.section__title.search-result-section__title.animate.scroll Поиск
  .wrapper
    form.search-result__form(
      action="#",
      method="post",
      enctype="multipart/form-data",)
      .search-result__form-content
        input#search.search-result__input(
          required,
          type="search",
          name="search_text",
          placeholder="Введите текст для поиска")
        button.search-result__reset(type="reset") 
          span
          span
        button.search-result__btn(
          type='submit') Найти 
    h2.section__subtitle.search-result-section__subtitle Найдено совпадений: 5
    ol.search-result-list
      li.search-result-list__item.animate.scroll
        span.search-result-list__item-number 1. 
        .search-result-list__item-content
          a.search-result-list__item-title(href='#')
            b ОАО Брестский мясокомбинат - производитель и поставщик колбасных изделий, мясных полуфабрикатов из Республики Беларусь
          .search-result-list__item-text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eius adipisci, enim dolorum ullam delectus vitae, sapiente fugit, earum modi repellendus nam? Quidem veritatis nihil deleniti reprehenderit quas sunt vel.
          a.search-result-list__item-link(href='#')
            b Подробнее
      li.search-result-list__item.animate.scroll
        span.search-result-list__item-number 2.
        .search-result-list__item-content
          a.search-result-list__item-title(href='#')
            b ОАО Брестский мясокомбинат - производитель и поставщик колбасных изделий, мясных полуфабрикатов из Республики Беларусь
          .search-result-list__item-text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eius adipisci, enim dolorum ullam delectus vitae, sapiente fugit, earum modi repellendus nam? Quidem veritatis nihil deleniti reprehenderit quas sunt vel.
          a.search-result-list__item-link(href='#')
            b Подробнее