mixin menu__item(title,link,menuDropdownItems)
  //menu item start
  li.menu__item(
    itemprop="name")
    
    //menu link start
    a.menu__link(
      itemprop="url",
      href=`${link ? link : "#"}`)!=title
    //menu link end

    //menu__dropdown start
    if menuDropdownItems
      ul.menu__dropdown
        each menuDropdownItem, index in menuDropdownItems
          - var count = index+1
          - var itemTitle = menuDropdownItem[0]
          - var itemLink = menuDropdownItem[1]

          //menu__dropdown-item start
          li.menu__dropdown-item(
            itemprop="name")

            //.menu__dropdown-link start
            a.menu__dropdown-link(
              itemprop="url",
              href=`${itemLink ? itemLink : "#"}`)!=itemTitle
            //.menu__dropdown-link start

          //menu__dropdown-item end
          
      //menu__dropdown end

  //menu item end