mixin menu(menuItems,addClass)
  //menu-nav start
  nav.menu-nav(
      itemscope, 
      itemtype="http://schema.org/SiteNavigationElement",
      class=`${addClass ? `menu-nav--${addClass}` : ""} `)
    if addClass
      //menu-burger start
      button.menu-burger.header-icon(
        aria-label="Бургер меню",
        tabindex="0",
        class=`${addClass ? `${addClass}`: ""}`) 
        span
        span
        span
      //menu-burger end
    //menu start
    ul.menu(class=`${addClass ? `menu--${addClass}`: ""} `)
      each menuItem, idx in menuItems
        - var count = idx+1
        - var title = menuItem[0]
        - var link = menuItem[1]
        - var menuDropdownItems = menuItem[2]
        //menu__link start
        li.menu__item(
          itemprop="name",
          class=`${addClass ? `menu__item--${addClass}`: ""}`)

          //menu__link start
          a.menu__link(
            itemprop="url",
            href=`${link}`,
            class=`${addClass ? `menu__link--${addClass}`: ""}`)!=title
          //menu__link end

          if menuDropdownItems>0

            //menu__dropdown start
            ul.menu__dropdown(
              class=`${addClass ? `menu__dropdown--${addClass}`: ""} `)
              each menuDropdownItem, idxDrop in menuDropdownItems
                - var count = idx+1
                - var dropTitle = menuDropdownItem[0]
                - var dropLink = menuDropdownItem[1]

                //menu__dropdown-item start
                li.menu__dropdown-item(
                  class=`${addClass ? `menu__dropdown-item--${addClass}`: ""} `)

                  //menu__dropdown-link start
                  a.menu__dropdown-link(
                    href=`${dropLink}`,
                    class=`${addClass ? `menu__dropdown-link--${addClass}`: ""} `)=dropTitle
                  //menu__dropdown-link end

                //menu__dropdown-item end

            //menu__dropdown end

        //menu__item end

      //menu end
      
    //menu-nav end
