#modal__form.modal
  .modal__body.__form
    form.modal__form.modal__content(action="#")
      a.modal__close.close__modal(href="#",role="button") 
        span
        span
      fieldset.modal__form-content
        legend.modal__form-title Форма обратной связи     
        input.modal__form-input(
          required,
          placeholder="Введите имя",
          type="text",
          name="name",
          )
        input.modal__form-input(
          required,
          placeholder="Введите телефон",
          type="tel",
          name="phone",
          )
        input.modal__form-input(
          required,
          placeholder="Введите e-mail",
          type="email",
          name="E-mail")
        span.modal__form-checkbox.custom-checkbox 
          input#modal-agree.custom-checkbox__input(
            type="checkbox", 
            name="agree",
            required)
          label(for="modal-agree").custom-checkbox__checker.modal__form-checker
          label(for="modal-agree").custom-checkbox__label.modal__form-label Я согласен с условиями акций и рассылок
        button.btn(type='submit').btn.modal__form-btn Отправить 