script(type='text/javascript').
  // When the window has finished loading create our google map below
  var map;
  var coordinate = [53.907116, 27.561822];  //Minsk
  var lat = coordinate[0];
  var lng = coordinate[1];
  var center = {lat:lat,lng:lng} 
  var defIcon = "./img/icons/icon-pin.svg"
  var mapElement = document.getElementById("shopMap");
  var mapOptions = {
      zoom: 5.35,
      center: center,
      disableDefaultUI: true, 
      styles: [
        {
          featureType: "all",
          elementType: "labels.text.fill",
          stylers: [
            { saturation: 36 },
            { color: "#333333" },
            { lightness: 40 },
          ],
        },
            {
          featureType: "all",
          elementType: "labels.text.stroke",
          stylers: [
            { visibility: "on" },
            { color: "#ffffff" },
            { lightness: 16 },
          ],
        },
        {
          featureType: "all",
          elementType: "labels.icon",
          stylers: [{ visibility: "off" }],
        },
        {
          featureType: "administrative",
          elementType: "geometry.fill",
          stylers: [{ color: "#fefefe" }, { lightness: 20 }],
        },
        {
          featureType: "administrative",
          elementType: "geometry.stroke",
          stylers: [
            { color: "#fefefe" },
            { lightness: 17 },
            { weight: 1.2 },
          ],
        },
        {
          featureType: "administrative",
          elementType: "labels.text.fill",
          stylers: [{ color: "#000000" }],
        },
        {
          featureType: "administrative.province",
          elementType: "labels.text.fill",
          stylers: [{ color: "#eeeeee" }],
        },
        {
          featureType: "administrative.locality",
          elementType: "labels.text.fill",
          stylers: [{ color: "#000000" }],
        },
        {
          featureType: "administrative.neighborhood",
          elementType: "labels.text.fill",
          stylers: [{ color: "#a3a3a3" }],
        },
        {
          featureType: "administrative.land_parcel",
          elementType: "labels.text.fill",
          stylers: [{ color: "#a3a3a3" }],
        },
        {
          featureType: "landscape",
          elementType: "geometry",
          stylers: [{ color: "#f5f5f5" }, { lightness: 20 }],
        },
        {
          featureType: "landscape",
          elementType: "labels.text.fill",
          stylers: [{ color: "#000000" }],
        },
        {
          featureType: "poi",
          elementType: "geometry",
          stylers: [{ color: "#dddddd" }, { lightness: 21 }],
        },
        {
          featureType: "poi",
          elementType: "labels.text.fill",
          stylers: [{ color: "#000000" }],
        },
        {
          featureType: "poi.park",
          elementType: "geometry",
          stylers: [{ color: "#eeeeee" }, { lightness: 21 }],
        },
        {
          featureType: "poi.school",
          elementType: "labels.text",
          stylers: [
            { weight: "0.68" },
            { visibility: "on" },
            { color: "#ff0000" },
          ],
        },
        {
          featureType: "poi.school",
          elementType: "labels.text.fill",
          stylers: [
            { color: "#000000" },
            { weight: "0.92" },
            { visibility: "simplified" },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.fill",
          stylers: [{ color: "#dddddd" }, { lightness: 17 }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.stroke",
          stylers: [
            { color: "#dddddd" },
            { lightness: 29 },
            { weight: 0.2 },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "labels.text",
          stylers: [{ color: "#000000" }],
        },
        {
          featureType: "road.arterial",
          elementType: "geometry",
          stylers: [{ color: "#dddddd" }, { lightness: 18 }],
        },
        {
          featureType: "road.arterial",
          elementType: "labels.text.fill",
          stylers: [{ color: "#000000" }],
        },
        {
          featureType: "road.local",
          elementType: "geometry",
          stylers: [{ color: "#eeeeee" }, { lightness: 16 }],
        },
        {
          featureType: "road.local",
          elementType: "geometry.stroke",
          stylers: [{ color: "#cd282b" }],
        },
        {
          featureType: "road.local",
          elementType: "labels.text",
          stylers: [{ hue: "#ff0000" }],
        },
        {
          featureType: "road.local",
          elementType: "labels.text.fill",
          stylers: [{ color: "#000000" }],
        },
        {
          featureType: "road.local",
          elementType: "labels.text.stroke",
          stylers: [{ visibility: "on" }],
        },
        {
          featureType: "transit",
          elementType: "geometry",
          stylers: [{ color: "#f2f2f2" }, { lightness: 19 }],
        },
        {
          featureType: "transit",
          elementType: "labels.text.fill",
          stylers: [{ color: "#000000" }],
        },
        {
          featureType: "water",
          elementType: "geometry",
          stylers: [{ color: "#eeeeee" }, { lightness: 17 }],
        },
      ],
    };
  var markers = [
      {
          'title': 'МАКАЗИН «КОНСУМ»',
          'address': '220088, Г. Брест,ул. Смоленская, 33',
          'lat': '52.130218',
          'lng': '23.706738',
          'image': './img/map-popup-image.jpg',
          'wekDaysTime':'Понедельник: пятница 10:00-19:00',
          'weekendTime':'Суббота 10:00-19:00, Воскресенье 10:00-17:00',
          'washDay':'',
          'phone1': '8 (017) 243 43 89',
          'phone2': '8 (017) 365 28 46'
          
      },
      {
          'title': 'МАКАЗИН «КОНСУМ»',
          'address': 'г. Брест, ул. Писателя Смирнова, 4',
          'lat': '52.095170',
          'lng': '23.645024',
          'image': './img/map-popup-image.jpg',
          'wekDaysTime':'Понедельник: пятница 8:00-20:00',
          'weekendTime':'Суббота: 8:00-17:00, Воскресенье: Выходной',
          'washDay':'',
          'phone1': '+375 (212) 61-45-98',
          'phone2': ''
          
      },
      {
          'title': 'МАКАЗИН «ЯН»',
          'address': 'г. Брест, ул. Московская, 340',
          'lat': '52.101029',
          'lng': '23.767473',
          'image': './img/map-popup-image.jpg',
          'wekDaysTime':'Понедельник: пятница 8:00-20:00',
          'weekendTime':'Суббота: 8:00-17:00, Воскресенье: Выходной',
          'washDay':'',
          'phone1': '+375 (212) 61-45-98',
          'phone2': ''
          
      },
      {
          'title': 'МАКАЗИН «ВЕРАС-14»',
          'address': 'г. Брест, ул. Гоголя, 80',
          'lat': '52.094158',
          'lng': '23.698941',
          'image': './img/map-popup-image.jpg',
          'wekDaysTime':'Понедельник: пятница 8:00-20:00',
          'weekendTime':'Суббота: 8:00-17:00, Воскресенье: Выходной',
          'washDay':'',
          'phone1': '+375 (212) 61-45-98',
          'phone2': ''
          
      },
      {
          'title': 'ЛОТОК МАГАЗИНА «ВЕРАС-14»',
          'address': 'г.Брест, Центральный Брестский рынок, ул.Карбышева, 25',
          'lat': '52.096809',
          'lng': '23.692262',
          'image': './img/map-popup-image.jpg',
          'wekDaysTime':'8:00-18:00',
          'weekendTime':'',
          'washDay':'Сан день 1-й пн месяца',
          'phone1': '+375 (212) 61-45-98',
          'phone2': ''
          
      },
      {
          'title': 'МАКАЗИН «КОНСУМ»',
          'address': 'г. Пинск, ул. Брестская, 19-4',
          'lat': '52.111766',
          'lng': '26.094622',
          'image': './img/map-popup-image.jpg',
          'wekDaysTime':'Понедельник: пятница 8:00-20:00',
          'weekendTime':'Суббота: 8:00-17:00, Воскресенье: Выходной',
          'washDay':'',
          'phone1': '+375 (212) 61-45-98',
          'phone2': ''
          
      },
      {
          'title': 'МАКАЗИН «КОНСУМ»',
          'address': 'г. Брест, ул. Орджоникидзе, 7',
          'lat': '52.098235',
          'lng': '23.683382',
          'image': './img/map-popup-image.jpg',
          'wekDaysTime':'Понедельник: пятница 10:00-20:00',
          'weekendTime':'',
          'washDay':'Сан день: 1-й пн месяца',
          'phone1': '+375 (212) 61-45-98',
          'phone2': ''
          
      },
      {
          'title': 'МАКАЗИН «КОНСУМ»',
          'address': 'г.Пружаны, ул. Ленина 6/1',
          'lat': '52.556038',
          'lng': '24.454550',
          'image': './img/map-popup-image.jpg',
          'wekDaysTime':'Понедельник: пятница 10:00-20:00',
          'weekendTime':'',
          'washDay':'Сан день: 1-й пн месяца',
          'phone1': '+375 (212) 61-45-98',
          'phone2': ''
          
      },
      {
          'title': 'МАКАЗИН «КОНСУМ»',
          'address': 'г. Брест, ул. Волгоградская, 11',
          'lat': '52.075447',
          'lng': '23.756370',
          'image': './img/map-popup-image.jpg',
          'wekDaysTime':'Понедельник: пятница 8:00-20:00',
          'weekendTime':'Суббота: 8:00-17:00, Воскресенье: Выходной',
          'washDay':'',
          'phone1': '+375 (212) 61-45-98',
          'phone2': ''
          
      }
    ]; 
  
  
  function init() {
    var infoWindow = new google.maps.InfoWindow({
      maxWidth: 440,
    });
    map = new google.maps.Map(mapElement, mapOptions);
    for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var gMarker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title,
                icon: defIcon,
                address:  data.address,
                image: data.image,
                wekDaysTime: data.wekDaysTime,
                weekendTime: data.weekendTime,
                washDay: data.washDay,
                phone1: data.phone1,
                phone2: data.phone2,

            });
            
            //Attach click event to the marker.
            (function (gMarker, data) {
                google.maps.event.addListener(gMarker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent(`<article  class="map-popup __page-brand">
                      <div class="map-popup__image __page-brand">
                        <img class="img--full img--center" loading="lazy" draggable="false" src="${gMarker.image}">
                      </div>
                      <h6 class="map-popup__title __page-brand">${gMarker.title}</h6>
                      <p class="map-popup__address  __page-brand">${gMarker.address}</p>
                      <p class="map-popup__subtitle __page-brand">Режим работы:</p>
                      <ul class="map-popup__list  __page-brand">
                        
                        ${gMarker.wekDaysTime 
                          ? `<li class="map-popup__list-item  __page-brand">
                                ${gMarker.wekDaysTime}
                            </li>`
                          : ""}
                        ${gMarker.weekendTime 
                          ? `<li class="map-popup__list-item  __page-brand">
                                ${gMarker.weekendTime}
                            </li>`
                          : ""}
                        ${gMarker.washDay 
                          ? `<li class="map-popup__list-item  __page-brand">
                                ${gMarker.washDay}
                            </li>`
                          : ""}
                      </ul>
                      <p class="map-popup__subtitle __page-brand">Телефоны:</p>
                      <ul class="map-popup__list __page-brand">
                        <li class="map-popup__list-item __page-brand">
                          ${gMarker.phone1 
                          ? `<a href="tel:${gMarker.phone1}">
                              ${gMarker.phone1}
                            </a>`
                          : ""}
                          ${gMarker.phone2 
                          ? `<a href="tel:${gMarker.phone2}">
                                  ${gMarker.phone2}
                            </a>`
                          : ""}
                        </li>
                      </ul>
                    </article>`);
                    
                    infoWindow.open(map, gMarker);
                });
            })(gMarker, data);
        }
  }
  google.maps.event.addDomListener(window, "load", init);

